.homepage section[role=main] {
    margin-left: 120px;
}

.item-overlay{
	margin-right:16px;
	}
.item-title{
	font-size:large;
	font-weight:bold;
	}
.art{
	height:200px;
	}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
